*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
    font-family: 'Courier New', Courier, monospace;
}

/* .wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.calculator {
    width: 400px;
    color: #fff;
    background-color: #000;
}

.btn-calc {
    width: 24.5%;
    font-size: 40px;
    border-radius: 0;
}

.screen {
    padding: .25em;
    font-size: 3em;
    text-align: right;
}